.contenido{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(218,165,32,0.1);
    box-shadow: inset 1px 0px 10px rgba(255, 255, 255, 0.37);
    width: 90%;
    height: 90vh;
    border-radius: 10px;
    background-color: #111;
    margin: 8% auto;

}


/*FORMULARIO MAPA*/

.frase{
    text-align: center;
    margin: 6.875rem auto; /* antes 110px */
    font-size: 2.25rem; /* antes 36px */
    font-style: italic;
    background: linear-gradient(90deg, 
        rgba(255, 255, 255, 1) 20%,
           60%,
        #f5c451 75%,
        #f8e473 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.mapa {

  width: 50%;
  height: 80vh;
  border-radius: 12px;
  overflow: hidden; /* para que el borde redondeado se aplique al iframe */

  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa iframe {
  display: block;
  width: 100%; /* hace que el iframe se adapte al contenedor */
  height: 100%;
  border: none; /* ya tienes borde en el contenedor */
  border-radius: 12px;
}


/*FORMULARIO ESTILO*/

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.5vh;
}

.formulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 125%;
}


.botonFormulario{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
    width: 80%;
}



.botondorado {
      
    background-color: transparent;
    border: 1.5px solid #d4af37; /* oro suave */
    color: #d4af37;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow:none;
    margin-bottom: 5vh;
    
}

.botondorado:hover {
    background-color: #d4af37;
    color: #fff;

}

input,
textarea {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #d4af37; /* borde dorado */
  border-radius: 8px;
  background-color: #fff; /* fondo blanco */
  color: #111; /* texto negro */
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input,
textarea:focus {
  border-color: #b8860b; /* dorado más oscuro al enfocar */
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #00000069; /* dorado pálido para placeholder */
  font-weight: 400;
}

   

#pop-up{
  width: 530px;
  height: 320px;
  background-color: white;
  position: absolute;
  top: 40%;
  right: 35%;
  z-index: 10000;
  border-radius: 10px;
  display: none;
}

#pop-up p{
  color: black;
  
}



@media screen and (max-width: 768px){

  


}