
/*ESTILOS GENERAL*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

html {
    overflow-y: scroll;
}

body {
  background-color: #020202; /* gris muy oscuro */
  color: #ffffff; /* texto claro para contraste */
  font-family: sans-serif;
  overflow-x: hidden
}



